@tailwind base;
@tailwind components;
@tailwind utilities;


/*----------- only for animation ----------- */
/* navbar section */
body{
    overflow-x: hidden !important;
}
.nav_item{
    position: relative;
   
}
.nav_item:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.nav_item::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 2%;
    height: 2px;
    background: transparent;
}
.nav_item::before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 2%;
    height: 2px;
    background: transparent;
}
.nav_item:hover::after{
    width: 80%;
    background: black;
    transition: 0.4s;
}

.nav_item:hover::before{
    width: 80%;
    background: black;
    transition: 0.3s;
}
.nav_resize_item {
    position: relative;
}

.nav_resize_item::after{
    position: absolute;
    content: '';
    bottom: -50%;
    left: 50%;
    width: 0;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    transition: 0.4s;

}

.nav_resize_item:hover::after{
    width: 200%;
    transition: 0.4s;
}

.nav_resize{
    position: fixed;
    top: 0;
    left: -50%;
    background: #fff;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: 0.5s;
    z-index: 9999999 !important;
}

.nav_show{
    left: 0;
    opacity: 1;
}

.overlayNav{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: #00000054;
    top: 0;
    left: -100%;
    z-index: -999999999;
    transition: 0.5s;
}
.overlayNav-active{
    left: 0;
    width: 200%;
    transition: 1s;

}


/*----------- hero section--------- */
.hero_btn {
    position: relative;
    overflow: hidden;
}
.hero_btn::after {
    position: absolute;
    content: '';
    top: 10%;
    left: 10%;
    height: 5px ;
    width: 5px;
    background: white;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;

}
.hero_btn::before {
    position: absolute;
    content: '';
    top: 10%;
    left: 10%;
    height: 20px ;
    width: 20px;
    background: #c14061;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    animation: hero_btnAnim;
    animation-duration: 1s;
}
.hero_btn:hover::after{
    transform: scale(4);
    transition: 0.6s;
    opacity: 0.4;
    top: 100%;
    left: 80%;
}
.hero_btn:hover::before{
    transform: scale(4);
    transition: 0.7s;
    opacity: 1;
    top: 100%;
    left: 80%;
}
.hero_items,.suheading_items{
    position: relative;
}
.hero_items::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 1px;
    width: 20%;
    background: #676767;
    animation: items;
    animation-duration: 0.4s;
}
.suheading_items::after{
    position: absolute;
    content: '';
    bottom: 0;  
    left: 0;
    height: 2px;
    width: 100%;
    background: #676767;
    animation: subitems;
    animation-duration: 0.4s;
}
@keyframes items {
    from{
        width: 2%;
    }
    to{
        width: 20%;
    }
}
@keyframes subitems {
    from{
        width: 2%;
    }
    to{
        width: 100%;
    }
}

/* -----about----- */
.about_btn{
    transition: 1s;
    background: black;
}

/* skills */
.skills__contents{
    box-shadow: 0px 0px 2px 0px rgba(103, 103, 103, 0.219);
    transition: 0.4s;
}

.skills__contents:hover{
    box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.219);
}


/* project started */
.project__button{
    position: relative;
    overflow: hidden;
}
.project__button::after{
    position: absolute;
    content: '';
    bottom: -119%;
    left: -15%;
    width: 10px;
    height: 440%;
    background: rgba(255, 255, 255, 0.518);
    transform: rotate(45deg);
}
.project__button::before{
    position: absolute;
    content: '';
    bottom: -119%;
    left: -5%;
    width: 5px;
    height: 440%;
    background: rgba(255, 255, 255, 0.685);
    transform: rotate(45deg);

}
.project__button:hover::before{
    left: 120%;
    transition: 0.8s;
}
.project__button:hover::after{
    left: 130%;
    transition: 1s;
}
.project__button:hover{
    transition: 0.3s;
    color: #c14061;
    font-weight: 600;
}
.project_button{
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: none;
}
.project_button:hover{
    /* background: #c14061; */
    color: white;
}
.project_button::after{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: #c14061;
    bottom: 0;
    right: -120%;
    z-index: -1;
    transform: rotate(120deg);
    border-radius: 4px;
}
.project_button:hover::after{
    transform: rotate(-0deg);
    transition: 0.4s;
    left: 0;
    width: 100%;
    color: white;
}
.active{
    background: #c14061;
    color: #fff;
}
.project__overlay{
    position: absolute;
    width: 0;
    height: 100%;
    top: 100%;
    right: 150%;
    background: rgba(22, 10, 10, 0.4);
    transform: rotate(-80deg);
    opacity: 0;
    transition: 0.7s ease;
}
.project__items:hover .project__overlay{
    transform: rotate(0deg);
    opacity: 1;
    width: 100%;
    top: 0;
    right: 0;
    transition: 0.7s ease;
}
.project__More{
    box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.116);
    background: rgba(0, 0, 0, 0.092);
}


/* ----project displayed open--- */
.delay_animi{
    animation: delay_animis 0.4s ease forwards;
   
}
@keyframes delay_animis {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
 
    }
}
/* ----project displayed open--- */
/* project see more effect--->> */
@keyframes project_showAnim {
    from {
        transform: translateY(100%);    
    }
    to {
        transform: translateY(0);
    }
}

@keyframes project_closeAnim {
    from {
        transform: translateY(0);
        display: none;
    }
    to {
        transform: translateY(200%);
        display: none;
    }
}

.project_show {
    animation: project_showAnim 1s ease forwards;
}

.project_close {
    animation: project_closeAnim 1s ease forwards;
}
/* project see more effect--->> */
/*--------- project ended---------- */
/* ---------- services started------ */
.service_item:hover h2, .service_item:hover p{
    font-weight: bold;
    transition: .1s;
}
.service_item:hover{
    box-shadow: -1px 3px 10px #00000054;
    transform: scale(1);
}
/* ---------- services ended------ */

.gg{
    border-width: 1px;
    border-bottom: #676767;
    border-style: solid;
}
.team_heading{
    position: relative;
}
.team_heading::after{
    position: absolute;
    content: '';
    bottom: 5%;
    right: 0;
    width: 50%;
    height: 2px;
    background: #676767;
}

.overlay{
    position: absolute;
    content: '';
    top: -60%;
    left: 0;
    width: 100%;
    height: 0;
    background: #0000004b;
    transition: all 0.3s ease ;

    
}
.overlay2{
    position: absolute;
    content: '';
    bottom: -60%;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: 50%;
    background: #0000004b;
    transition: all 0.3s ease ;
}
.team__Img{
    transition: all 1s ease ;
}
.team__Img:hover .overlay{
    top: 0;
    transition: all 1s ease ;
    height: 50%;
}
.team__Img:hover .overlay2{
    bottom: 0;
    transition: 1s;
}

/* ------------preloader---------- */
.preloading{
    opacity: 0.3;
    animation: some 0.4s linear;
}
.preloader{
    position: relative;
    animation: preload 0.2s linear;
    transition: 0.3s;
}
.preloader::after{
    position: absolute;
    content: '';
    top: 10%;
    left: -50%;
    height: 100%;
    width: 10px;
    background: #000;
    transform: rotate(30deg);
    border-radius: 50px;
    animation: pre_after 0.4s linear ;
    transition: 0.3s;
}
.preloader::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -40%;
    height: 10px;
    width: 60%;
    background: #000;
    border-radius: 50px;
    animation: pre_beffore 0.2s linear ;
    transition: 0.4s;

}
@keyframes pre_after {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
@keyframes pre_beffore {
    0%{
        left: -40%;
        width: 0;
        top: 20%;

    }
    100%{
        /* left: -70%; */
        width: 70%;
        top: 50%;
        transition: 1s;

    }
}
@keyframes preload {
    0%{
       opacity: 0;
    }
    50%{
        opacity: 0.5;

    }
    100%{
        opacity: 1;
    }
}
.pre_item{
    opacity: 1;
    animation: pre_item 0.3s linear;
}
@keyframes pre_item {
    0%{
        opacity: 0;

    }    
    50%{
    opacity: 0.5;
        
    }    
    100%{
    opacity: 1;
        
    }    
}
@keyframes some {
    0%{
        opacity: 0;
    }
    50%{
        opacity:0.3;
    }
    100%{
        opacity:0.5;
    }
}

/* media query */
@media (min-width: 640px) and (max-width: 1060px) {
    .team__after{
        width: 100%;
        
    }
    .team_before{
        width: 80%;
        text-align: center;
        top: 90%;
    }
    
}
@media (min-width: 600px) and (max-width: 770px) {
    
    .team_heading{
        font-size: 4rem !important;
    }
}
@media (min-width: 200px) and (max-width: 400px){
    .team_img{
        width: 100%;
    }
    .modal{
        width: 80%;
    }
   
}
@media (min-width: 0px) and (max-width: 400px){
   .about_btn{
    width: 80%;
   }
   
}
@media (min-width: 400px) and (max-width: 600px) {
    .hero_btn{
        width: 50% !important;
    }
    .modal{
        width: 80%;
    }
}
@media (min-width: 100px) and (max-width: 400px) {
    .hero_btn{
        width: 100% !important;
        margin: 10px 0;
    }
    .hero__Gridbutton{
        display: block !important;
    }
}
